

/* Space out content a bit */

/*html {

}*/

body
{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans Condensed", Times;
  font-weight: lighter;
  background: url(/views/partials/nyc-1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    /* Makes font crispy! */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 90%;
}

#header
{
    color: #CCC;
    font-size: 40px;
}

#sub-header
{
    color: #CCC;
    font-size: 20px;
}

.ng-scope
{

}

.footer
{
    clear: both;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer
{
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header
{
/*  border-bottom: 2px solid #CCC;
  vertical-align: center;
  margin: auto;*/
}

/* Make the masthead heading the same height as the navigation */
.header h3
{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer
{
  padding-top: 19px;
  color: #777;
  margin-top: -100px;
/*  border-top: 1px solid #e5e5e5;
*/}

/* Customize container */
/*@media (min-width: 768px)
{
  .container
  {

  }
}*/
.container-narrow > hr {
  margin: 30px 0;
}

/*.angular-google-map
{
    width: 100%;
    height: 100%;
}*/

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

.angular-google-map-container
{
    height: 800px;
    width: 100%;
    margin-top: -100px;
    margin-left: -50px;
}





