

/* Space out content a bit */

/*html {

}*/

body
{
/*  padding-top: 20px;
  padding-bottom: 20px;*/
  font-family: "Open Sans Condensed", Times;
  font-weight: lighter;
  background: url(/views/partials/nyc-1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    /* Makes font crispy! */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.navigation
{
    list-style: none;
    color: #CCC;
    font-size: 20px;
    display: block;
    /*padding: 10px 10px;*/
    /*margin-left: -30px;*/
}

#nav-list
{
    margin: 0px 60px;
}

#nav-list > a
{
    color: #CCC;
}

/*p.navigation
{
    margin-right: -5px;
}
*/
.container
{
    width: 100%;
}

#header-whole
{
    margin: 40px 60px;
}

#header
{
    color: #CCC;
    font-size: 60px;
    /*margin-left: -20px;*/
}

#sub-header
{
    color: #CCC;
    font-size: 30px;
    /*margin-left: -20px;*/
}

.header
{
    margin-left: -40px;
}

#add-input
{
    width: 100%;
    margin-left: 43px;
}
/*.ng-scope
{

}*/


/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer
{
  padding-left: 15px;
  padding-right: 15px;
}*/

/* Custom page header */


/* Make the masthead heading the same height as the navigation */
/*.header h3
{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}*/

/* Custom page footer */
/*.footer
{
  padding-top: 19px;
  color: #777;
  margin-top: -100px;*/
/*  border-top: 1px solid #e5e5e5;
}*/

/* Customize container */
/*@media (min-width: 768px)
{
  .container
  {

  }
}*/
.container-narrow > hr {
  margin: 30px 0;
}

.angular-google-map
{
    width: 100%;
    height: 100%;
}

/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}*/

/* Supporting marketing content */
/*.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
*/
/* Responsive: Portrait tablets and up */

.angular-google-map-container
{
  height: 100%;
  width: 100%;
/*  margin-top: 15px;
  margin-left: -50px;*/
  position: absolute;
/*  left: 200px;
  right: 0px;
  width: auto;*/
}

/*.angular-google-map
{
    height: 90%;
    width: 100%;
}*/

.ng-scope
{
    height: 100%;
}

.height100
{
    height: 100%;
}

.no-padding
{
    padding: 0px;
}

#main
{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#about-text
{
    color: #EEE;
    font-size: 35px;
    margin-left: 50px;
}

#background-dim-md-10
{
    background-color:#000;
    opacity:0.7;
}

/*#about-content-div
{
    background:
}*/

