

body{
/*  padding-top: 20px;
  padding-bottom: 20px;*/
    font-family: "Open Sans Condensed", Times;
    font-weight: lighter;
    /* For background image see body tage in index.html */
/*    background: url(/views/partials/dark-maiden.jpg);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Makes font crispy! */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/*-----------*/
/* MAIN PAGE */
/*-----------*/

.evolveWhite{
    transition: all 0.15s ease;
    color: #FFF;
    font-size: 1.3em;
}

.rotate{
    -webkit-animation:spin 0.14s linear;
    -moz-animation:spin 0.14s linear;
    animation:spin 0.14s linear;
}

.main-nav-icons{
    text-decoration: none;
    color: #BBB;
}

.main-nav-icons a{
    display: inline-block;
    padding: 3%;
    text-decoration: none;
    color: #BBB;
}

.navigation{
    list-style: none;
    color: #CCC;
    font-size: 1.5em;
    display: block;
    /*padding: 10px 10px;*/
    /*margin-left: -30px;*/
}

#main-navList{
    text-decoration: none;
    list-style: none;
}

#main-navList > a{
    color: #CCC;
}

#main-navList > a:hover{
    color: #FFF;
    text-decoration: none;
}

/*p.navigation
{
    margin-right: -5px;
}
*/
.container{
    width: 100%;
}

/* This makes main.html position fixed and allows for crime.html to be not fixed */
div.row.ng-scope{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#main-container{
    padding-top: 15%;
}

#main-sidebar{
    text-align: center;
    padding: 0px;
    /*position: absolute;*/
}

#main-header{
    color: #FFF;
    font-size: 3em;
    margin: 0 auto;
}

#main-subHeader{
    color: #FFF;
    font-size: 1.5em;
    /*margin-left: -20px;*/
}

.header{
    margin-left: -40px;
}

#main-addInput{
    width: 100%;
    color: #000;
    border-radius: 20px;
}

#main-search{
    border-radius: 20px;
}

.main-mouseoverText{
    position: fixed;
    text-align: right;
}

.main-mouseoverText #main-about{
    margin-right: -128px;
}

.main-mouseoverText #main-his-crime-data{
    margin-right: -180px;
}

#main-promptText-1{
    font-size: 1.5em;
    color: #FFF;
}

#main-promptText-2{
    font-size: 1.5em;
    color: #FFF;
    display: none;
}

.addthis_sharing_toolbox{
    /*position: absolute;*/
    display: none;
}

.container-narrow > hr {
  margin: 30px 0;
}

.angular-google-map{
    width: 100%;
    height: 100%;
}

.angular-google-map-container{
  height: 100%;
  width: 100%;
/*  margin-top: 15px;
  margin-left: -50px;*/
  /*position: absolute;*/
/*  left: 200px;
  right: 0px;
  width: auto;*/
}

/*.angular-google-map
{
    height: 90%;
    width: 100%;
}*/

.ng-scope{
    height: 100%;
}

.height100{
    height: 100%;
}

.no-padding{
    padding: 0px;
}

#about-text{
    color: #EEE;
    font-size: 35px;
    margin-left: 50px;
}

/*#background-dim-md-10{
    background-color:#000;
    opacity:0.7;
}*/

/*------------------*/
/*    CRIME PAGE    */
/*------------------*/

.crime-container{
    position: fixed;
}

.crime-container{
    padding-left: 10%;
    padding-right: 10%;
    height: 800px;
    width: 100%;
    /*position: relative;*/
}

.crime-body{
    background-color: #FFF;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /*position: relative;*/
}

div.container.height100.ng-scope{
    height: 100%;
}

#crime-header{
    text-align: center;
    font-size: 4em;
    color: #333;
}

/*#background-dim-md-10 > p{
    font-size: 2.5em;
    color: #EEE;
    margin-left: 40px;
}*/

#crime-highcharts{
    width: 100%;
    height: 450px;
}

.crime-buttons{
    margin-right: 10%;
    margin-left: 15%;
}

.crime-introduction{
    font-size: 2em;
    color: black;
    text-align: center;
}

rect.highcharts-background{
    width: 100%;
}

/* ABOUT PAGE */

/*------------------*/
/*ICONS IN THE ABOUT PAGE*/
/*------------------*/
.about-icons li
{
    list-style: none;
    display: inline-block;
    margin-left: 10px 10px;
    padding: 5px 5px;
    margin-left: 30px;
}

/*--------*/
/* D3 CSS */
/*--------*/

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #EEE;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tick text{
    color: #EEE;
}