

<div class="row height100">
    <div class="col-md-2">
        <div id="header-whole">
            <a href="/views/index">
                <p id="header">Crīmen<p>
                <p id="sub-header">Big Apple's Crime Map</p>
            </a>
        </div>
        <div id="add-input">
<!--             <p>
                <input type="text" placeholder="Enter Address" ng-autocomplete ng-model="autocomplete" options="options" details="details" style="width: 60%"/>
            </p> -->
        </div>
        <br>
        <br>
        <br>
        <div id="nav-list">
            <a href="#" class="navigation" ng-click="">About</a>
            <a href="#" class="navigation">Crime Statistics in D3</a>
        </div>
    </div>

    <div class="col-md-10 height100 no-padding" id="about-content-div">

        <div style="background-color: black;" class="height100">

        </div>
    </div>
<!--
    <div class="col-md-2">

    </div>
 --></div>
</div>



