

    <div class="row height100">
        <div class="col-md-2">
            <div id="header-whole">
                <p id="header">Crīmen<p>
                <p id="sub-header">NYC's Crime Map</p>
            </div>
            <p id="add-input" class="height100">
                <input type="text" value="Enter Address" ng-autocomplete ng-model="autocomplete" options="options" details="details" style="width: 60%"/>
            </p>
            <br>
            <br>
            <p class="navigation" id="nav-list">
                <a href="/about">About</a>
                <br>
                <a href="/crimestatistics">Crime Statistics in D3</a>
            <p>

        </div>

        <div class="col-md-10 height100 no-padding">
            <google-map class="height100" center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="mapControl">
            </google-map>

        </div>

<!--        <div class="col-md-2">
            </div> -->
    </div>
    <!-- THIS IS SUPPOSED TO WORK AND IS THE BEST WAY TO DO MARKERS.  FIGURE IT OUT!!! -->
<!--         <markers idkey="'id'" models='crimeMarkers' coords="'self'" icon="'icon'" click="'onClicked'"></markers> -->

 <!--         <marker ng-repeat="marker in crimeMarkers" coords="{longitude: marker.longitude, latitude: marker.latitude}" click="'onClicked'" doCluster="doClusterRandomMarkers" clusterOptions="clusterOptions"></marker> -->


</div>

<div class="row marketing">

  <!-- <div ng-repeat="thing in awesomeThings"> -->
    <!-- What is thing? -->
<!--       <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p> -->


  <!-- </div> -->
</div>

