

<div ng-include="'partials/navbar'"></div>
    <google-map center="map.center" zoom="map.zoom" draggable="true"        options="map.options" control="mapControl">

    <!-- THIS IS SUPPOSED TO WORK AND IS THE BEST WAY TO DO MARKERS.  FIGURE IT OUT!!! -->
<!--         <markers idkey="'id'" models='crimeMarkers' coords="'self'" icon="'icon'" click="'onClicked'"></markers> -->

 <!--         <marker ng-repeat="marker in crimeMarkers" coords="{longitude: marker.longitude, latitude: marker.latitude}" click="'onClicked'" doCluster="doClusterRandomMarkers" clusterOptions="clusterOptions"></marker> -->

    </google-map>

</div>

<!--   <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p> -->

<div class="row marketing">

  <!-- <div ng-repeat="thing in awesomeThings"> -->
    <!-- What is thing? -->
<!--       <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p> -->


  <!-- </div> -->
</div>


<div class="footer">
  <p>Created by Adi Sivasankaran Using the MEAN Stack</p>
</div>
